In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('6.csv')

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-06-01 00:55:13,2019-06-01 00:56:17,1,0.0,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
1,1,2019-06-01 00:06:31,2019-06-01 00:06:52,1,0.0,1,N,262,263,2,2.5,3.0,0.5,0.00,0.0,0.3,6.30,2.5
2,1,2019-06-01 00:17:05,2019-06-01 00:36:38,1,4.4,1,N,74,7,2,17.5,0.5,0.5,0.00,0.0,0.3,18.80,0.0
3,1,2019-06-01 00:59:02,2019-06-01 00:59:12,0,0.8,1,N,145,145,2,2.5,1.0,0.5,0.00,0.0,0.3,4.30,0.0
4,1,2019-06-01 00:03:25,2019-06-01 00:15:42,1,1.7,1,N,113,148,1,9.5,3.0,0.5,2.65,0.0,0.3,15.95,2.5

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6941024 entries, 0 to 6941023
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int64
 4   trip_distance          float64
 5   RatecodeID             int64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(9), int64(6), object(3)
memory usage: 953.2+ MB

Tasks:
1. Need to change timestamp fields from object to datetime
2. Adding date time columns such as day of month, year, month, day of week

In [6]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
                                             #, format="%m/%d/%Y %I:%M:%S %p")

In [7]:
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
                                           #, format="%m/%d/%Y %I:%M:%S %p")

In [8]:
df.rename(columns={'tpep_pickup_datetime':'TripStart','tpep_dropoff_datetime':'TripEnd'}, inplace = True)

In [9]:
dateFeats = ['TripStart','TripEnd']

In [10]:
for feat in dateFeats:
    df[feat+'_date'] = df[feat].dt.date
    df[feat+'_dayofmonth'] = df[feat].dt.day
    df[feat+'_month'] = df[feat].dt.month
    df[feat+'_year'] = df[feat].dt.year
    df[feat+'_dayofweek'] = df[feat].dt.dayofweek
    df[feat+'_week'] = df[feat].dt.week
    df[feat+'_time'] = df[feat].dt.time
    df[feat+'_hourofday'] = df[feat].dt.hour
    df[feat+'_minuteofday'] = df[feat].dt.minute

<ipython-input-10-a49f4474352f>:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df[feat+'_week'] = df[feat].dt.week

In [11]:
df.shape

(6941024, 36)

### Analyze NULL values

In [12]:
df.isnull().sum()

VendorID                 0
TripStart                0
TripEnd                  0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
TripStart_date           0
TripStart_dayofmonth     0
TripStart_month          0
TripStart_year           0
TripStart_dayofweek      0
TripStart_week           0
TripStart_time           0
TripStart_hourofday      0
TripStart_minuteofday    0
TripEnd_date             0
TripEnd_dayofmonth       0
TripEnd_month            0
TripEnd_year             0
TripEnd_dayofweek        0
TripEnd_week             0
TripEnd_time             0
TripEnd_hourofday        0
TripEnd_minuteofday      0
dtype: int64

## No nulls. Clean data

# Check correlation matrix

In [13]:
taxi_df = pd.read_csv('taxi_zone_lookup.csv')

In [14]:
taxi_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [15]:
merged = pd.merge(df, taxi_df, left_on = 'PULocationID',right_on = 'LocationID', how = 'inner')

In [16]:
merged.head()

,VendorID,TripStart,TripEnd,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,TripStart_date,TripStart_dayofmonth,TripStart_month,TripStart_year,TripStart_dayofweek,TripStart_week,TripStart_time,TripStart_hourofday,TripStart_minuteofday,TripEnd_date,TripEnd_dayofmonth,TripEnd_month,TripEnd_year,TripEnd_dayofweek,TripEnd_week,TripEnd_time,TripEnd_hourofday,TripEnd_minuteofday,LocationID,Borough,Zone,service_zone
0,1,2019-06-01 00:55:13,2019-06-01 00:56:17,1,0.00,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,2019-06-01,1,6,2019,5,22,00:55:13,0,55,2019-06-01,1,6,2019,5,22,00:56:17,0,56,145,Queens,Long Island City/Hunters Point,Boro Zone
1,1,2019-06-01 00:59:02,2019-06-01 00:59:12,0,0.80,1,N,145,145,2,2.5,1.0,0.5,0.00,0.0,0.3,4.30,0.0,2019-06-01,1,6,2019,5,22,00:59:02,0,59,2019-06-01,1,6,2019,5,22,00:59:12,0,59,145,Queens,Long Island City/Hunters Point,Boro Zone
2,2,2019-06-01 00:08:05,2019-06-01 00:11:53,1,0.54,1,N,145,145,1,4.5,0.5,0.5,1.16,0.0,0.3,6.96,0.0,2019-06-01,1,6,2019,5,22,00:08:05,0,8,2019-06-01,1,6,2019,5,22,00:11:53,0,11,145,Queens,Long Island City/Hunters Point,Boro Zone
3,2,2019-06-01 00:38:52,2019-06-01 01:00:38,2,4.27,1,N,145,37,1,17.5,0.5,0.5,2.82,0.0,0.3,21.62,0.0,2019-06-01,1,6,2019,5,22,00:38:52,0,38,2019-06-01,1,6,2019,5,22,01:00:38,1,0,145,Queens,Long Island City/Hunters Point,Boro Zone
4,1,2019-06-01 00:24:18,2019-06-01 00:46:41,1,3.30,1,N,145,229,2,17.5,3.0,0.5,0.00,0.0,0.3,21.30,2.5,2019-06-01,1,6,2019,5,22,00:24:18,0,24,2019-06-01,1,6,2019,5,22,00:46:41,0,46,145,Queens,Long Island City/Hunters Point,Boro Zone

In [17]:
merged.rename(columns={'Borough':'PickupBorough','Zone':'PickupZone'}, inplace = True)

In [18]:
merged.drop('LocationID', axis = 1, inplace = True)

In [19]:
merged.head()

,VendorID,TripStart,TripEnd,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,TripStart_date,TripStart_dayofmonth,TripStart_month,TripStart_year,TripStart_dayofweek,TripStart_week,TripStart_time,TripStart_hourofday,TripStart_minuteofday,TripEnd_date,TripEnd_dayofmonth,TripEnd_month,TripEnd_year,TripEnd_dayofweek,TripEnd_week,TripEnd_time,TripEnd_hourofday,TripEnd_minuteofday,PickupBorough,PickupZone,service_zone
0,1,2019-06-01 00:55:13,2019-06-01 00:56:17,1,0.00,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,2019-06-01,1,6,2019,5,22,00:55:13,0,55,2019-06-01,1,6,2019,5,22,00:56:17,0,56,Queens,Long Island City/Hunters Point,Boro Zone
1,1,2019-06-01 00:59:02,2019-06-01 00:59:12,0,0.80,1,N,145,145,2,2.5,1.0,0.5,0.00,0.0,0.3,4.30,0.0,2019-06-01,1,6,2019,5,22,00:59:02,0,59,2019-06-01,1,6,2019,5,22,00:59:12,0,59,Queens,Long Island City/Hunters Point,Boro Zone
2,2,2019-06-01 00:08:05,2019-06-01 00:11:53,1,0.54,1,N,145,145,1,4.5,0.5,0.5,1.16,0.0,0.3,6.96,0.0,2019-06-01,1,6,2019,5,22,00:08:05,0,8,2019-06-01,1,6,2019,5,22,00:11:53,0,11,Queens,Long Island City/Hunters Point,Boro Zone
3,2,2019-06-01 00:38:52,2019-06-01 01:00:38,2,4.27,1,N,145,37,1,17.5,0.5,0.5,2.82,0.0,0.3,21.62,0.0,2019-06-01,1,6,2019,5,22,00:38:52,0,38,2019-06-01,1,6,2019,5,22,01:00:38,1,0,Queens,Long Island City/Hunters Point,Boro Zone
4,1,2019-06-01 00:24:18,2019-06-01 00:46:41,1,3.30,1,N,145,229,2,17.5,3.0,0.5,0.00,0.0,0.3,21.30,2.5,2019-06-01,1,6,2019,5,22,00:24:18,0,24,2019-06-01,1,6,2019,5,22,00:46:41,0,46,Queens,Long Island City/Hunters Point,Boro Zone

In [20]:
merged = pd.merge(merged, taxi_df, left_on = 'DOLocationID',right_on = 'LocationID', how = 'inner')

In [21]:
merged.rename(columns={'Borough':'DropoffBorough','Zone':'DropoffZone'}, inplace = True)

In [22]:
merged.drop('LocationID', axis = 1, inplace = True)

In [23]:
merged.head()

,VendorID,TripStart,TripEnd,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,TripStart_date,TripStart_dayofmonth,TripStart_month,TripStart_year,TripStart_dayofweek,TripStart_week,TripStart_time,TripStart_hourofday,TripStart_minuteofday,TripEnd_date,TripEnd_dayofmonth,TripEnd_month,TripEnd_year,TripEnd_dayofweek,TripEnd_week,TripEnd_time,TripEnd_hourofday,TripEnd_minuteofday,PickupBorough,PickupZone,service_zone_x,DropoffBorough,DropoffZone,service_zone_y
0,1,2019-06-01 00:55:13,2019-06-01 00:56:17,1,0.00,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,2019-06-01,1,6,2019,5,22,00:55:13,0,55,2019-06-01,1,6,2019,5,22,00:56:17,0,56,Queens,Long Island City/Hunters Point,Boro Zone,Queens,Long Island City/Hunters Point,Boro Zone
1,1,2019-06-01 00:59:02,2019-06-01 00:59:12,0,0.80,1,N,145,145,2,2.5,1.0,0.5,0.00,0.0,0.3,4.30,0.0,2019-06-01,1,6,2019,5,22,00:59:02,0,59,2019-06-01,1,6,2019,5,22,00:59:12,0,59,Queens,Long Island City/Hunters Point,Boro Zone,Queens,Long Island City/Hunters Point,Boro Zone
2,2,2019-06-01 00:08:05,2019-06-01 00:11:53,1,0.54,1,N,145,145,1,4.5,0.5,0.5,1.16,0.0,0.3,6.96,0.0,2019-06-01,1,6,2019,5,22,00:08:05,0,8,2019-06-01,1,6,2019,5,22,00:11:53,0,11,Queens,Long Island City/Hunters Point,Boro Zone,Queens,Long Island City/Hunters Point,Boro Zone
3,1,2019-06-01 00:51:18,2019-06-01 00:53:14,1,0.40,1,N,145,145,3,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,2019-06-01,1,6,2019,5,22,00:51:18,0,51,2019-06-01,1,6,2019,5,22,00:53:14,0,53,Queens,Long Island City/Hunters Point,Boro Zone,Queens,Long Island City/Hunters Point,Boro Zone
4,1,2019-06-01 01:20:55,2019-06-01 01:21:09,1,0.00,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,0.0,2019-06-01,1,6,2019,5,22,01:20:55,1,20,2019-06-01,1,6,2019,5,22,01:21:09,1,21,Queens,Long Island City/Hunters Point,Boro Zone,Queens,Long Island City/Hunters Point,Boro Zone

In [24]:
merged.shape

(6941024, 42)

In [25]:
df = merged.copy()

In [26]:
df.head()

,VendorID,TripStart,TripEnd,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,TripStart_date,TripStart_dayofmonth,TripStart_month,TripStart_year,TripStart_dayofweek,TripStart_week,TripStart_time,TripStart_hourofday,TripStart_minuteofday,TripEnd_date,TripEnd_dayofmonth,TripEnd_month,TripEnd_year,TripEnd_dayofweek,TripEnd_week,TripEnd_time,TripEnd_hourofday,TripEnd_minuteofday,PickupBorough,PickupZone,service_zone_x,DropoffBorough,DropoffZone,service_zone_y
0,1,2019-06-01 00:55:13,2019-06-01 00:56:17,1,0.00,1,N,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,2019-06-01,1,6,2019,5,22,00:55:13,0,55,2019-06-01,1,6,2019,5,22,00:56:17,0,56,Queens,Long Island City/Hunters Point,Boro Zone,Queens,Long Island City/Hunters Point,Boro Zone
1,1,2019-06-01 00:59:02,2019-06-01 00:59:12,0,0.80,1,N,145,145,2,2.5,1.0,0.5,0.00,0.0,0.3,4.30,0.0,2019-06-01,1,6,2019,5,22,00:59:02,0,59,2019-06-01,1,6,2019,5,22,00:59:12,0,59,Queens,Long Island City/Hunters Point,Boro Zone,Queens,Long Island City/Hunters Point,Boro Zone
2,2,2019-06-01 00:08:05,2019-06-01 00:11:53,1,0.54,1,N,145,145,1,4.5,0.5,0.5,1.16,0.0,0.3,6.96,0.0,2019-06-01,1,6,2019,5,22,00:08:05,0,8,2019-06-01,1,6,2019,5,22,00:11:53,0,11,Queens,Long Island City/Hunters Point,Boro Zone,Queens,Long Island City/Hunters Point,Boro Zone
3,1,2019-06-01 00:51:18,2019-06-01 00:53:14,1,0.40,1,N,145,145,3,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,2019-06-01,1,6,2019,5,22,00:51:18,0,51,2019-06-01,1,6,2019,5,22,00:53:14,0,53,Queens,Long Island City/Hunters Point,Boro Zone,Queens,Long Island City/Hunters Point,Boro Zone
4,1,2019-06-01 01:20:55,2019-06-01 01:21:09,1,0.00,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,0.0,2019-06-01,1,6,2019,5,22,01:20:55,1,20,2019-06-01,1,6,2019,5,22,01:21:09,1,21,Queens,Long Island City/Hunters Point,Boro Zone,Queens,Long Island City/Hunters Point,Boro Zone

In [27]:
df.drop('Date', axis = 1, inplace = True)

KeyError: "['Date'] not found in axis"

In [28]:
df.to_csv('nycjune.csv')

In [29]:
print(df.shape)

(6941024, 42)